@import 'reset';

$main-color : #D1A954;
$text-family: 'Open Sans';

@import 'formats';

.hover {
    display: none;
}

body {
    font-family     : 'Open Sans Condensed';
    background-color: #333333;
}

.container {
    @media (min-width:568px) {
        padding: 0 40px;
    }
    @media (min-width:768px) {
        max-width: 690px;
        margin: 0 auto;
        padding: 0;
    }
    @media (min-width:1024px) {
    
    }
    @media (min-width:1200px) {
        max-width: 1110px;
    }
    width: 100%;
    padding: 0 30px;
    
    
    &-fluid {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

picture {
    display: block;
    
    img {
        width: 100%;
        display: block;
    }
}

section {
    @media (min-width:568px) {
        margin-bottom: 90px;
    }
    @media (min-width:768px) {
    
    }
    @media (min-width:1024px) {
        padding-left: 150px;
    }
    @media (min-width:1200px) {
    
    }
    margin-bottom: 80px;
    
    & h2 {
        @extend %text-format;
        @media (min-width:1024px) {
            margin-bottom: 100px;
        }
        margin-bottom: 60px;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: 0.1em;
        line-height: 65px;
        text-align: center;
        
        & span {
            color: $main-color;
        }
    }
}

.projects {
    
    .container {
        @media (min-width:1024px) {
            max-width: inherit;
        }
        @media (min-width:1200px) {
            max-width: 100%;
        }
    
        .swiper-slide {
        
            & a {
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                margin-top: -50px;
                margin-left: -50px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all .4s ease;
                background-color: $main-color;
                border-radius: 50%;
                position: absolute;
            }
        
            & span {
                opacity: 1;
                transition: all .4s ease;
                position: absolute;
            }
        
            &__tag {
                @extend %text-format;
                top: 40px;
                left: 40px;
                font-size: 24px;
                line-height: 33px;
            }
        
            &__month {
                @extend %text-format;
                bottom: 40px;
                left: 40px;
                transform: rotate(-180deg);
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.1em;
                writing-mode: vertical-lr;
            }
        
            &__wrapper {
                position: relative;
            
                &:before {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content:'';
                    transition: all .4s ease;
                    background: rgba(51,51,51, .65);
                    position: absolute;
                }
            
                &:hover {
                
                    & a {
                        opacity: 1;
                    }
                
                    & span {
                        opacity: 0;
                    }
                
                    &:before {
                        background: none;
                    }
                }
            }
        }
    }
}

.rating {
    min-height: 550px;
    display: flex;
    position: relative;
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/ratingBG.png) center center no-repeat;
    }
    
    &__wrapper {
        @media (min-width:768px) {
            max-width: 610px;
        }
        @media (min-width:1200px) {
            max-width: 700px;
        }
        display: flex;
        align-items: center;
        justify-content:center;
    }
    
    &__years {
        @media (min-width:568px) {
            margin-right: 40px;
        }
        margin-right: 30px;
        
        & p {
            @media (min-width:568px) {
                font-size: 48px;
            }
            @media (min-width:768px) {
                font-size: 56px;
            }
            @media (min-width:1024px) {
                font-size: 72px;
            }
            color: $main-color;
            font-size: 28px;
            font-style: normal;
            font-weight: bold;
            line-height: 150%;
            letter-spacing: 0.1em;
        }
    }
    
    &__details {
    
    }
    
    &__stars {
        font-size: 24px;
        color: $main-color;
        
        & .star__icon {
            @media (min-width:568px) {
                margin-right: 20px;
            }
            margin-right: 5px;
        }
    }
    
    &__text {
        @media (min-width:568px) {
            font-size: 25px;
        }
        @media (min-width:768px) {
            font-size: 29px;
        }
        @media (min-width:1024px) {
            font-size: 34px;
        }
        @media (min-width:1200px) {
            font-size: 36px;
        }
        @extend %p-format;
        font-size: 20px;
        font-weight: bold;
        line-height: 150%;
    }
}

.partners {
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &:last-child {
            
            .partners__item {
                @media (min-width:768px) {
                    margin-bottom: 0;
                }
                
                &:nth-child(3),
                &:nth-child(4) {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    &__item {
        @media (min-width:568px) {
            width: calc(100% / 2 - 20px);
            margin-bottom: 40px;
        }
        @media (min-width:768px) {
            width: calc(100% / 4 - 30px);
            margin-bottom: 60px;
        }
        @media (min-width:1200px) {
            width: calc(100% / 4 - 80px);
            margin-bottom: 80px;
        }
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
    }
}

.contacts {

    &__form-box {
        @media (min-width:1024px) {
            margin-top: 100px;
        }
        @media (min-width:1200px) {
            flex-direction: row;
        }
        margin-top: 60px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
    &__data {
        @media (min-width:568px) and (max-width:1199px) {
            flex-direction: row;
            justify-content: space-between;
        }
        display: flex;
        flex-direction: column;
        
        & a {
            @extend %text-format;
            width: fit-content;
            border-bottom: 2px solid transparent;
            font-size: 16px;
            line-height: 22px;
        
            &:hover {
                border-bottom: 2px solid $main-color;
            }
    
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    
    &__phone,
    &__email {
        display: flex;
        flex-direction: column;
    }
    
    &__phone {
        @media (min-width:568px) and (max-width:1199px) {
            margin-bottom: 0;
        }
        margin-bottom: 25px;
    }
    
    &__email {
        @media (min-width:568px) and (max-width:1199px) {
            align-items: flex-end;
        }
    }
    
	&__form {
        @media (min-width:1200px) {
            width: calc(100% - 380px);
        }
        
        &__top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            & input,
            & textarea {
                padding: 8px 15px;
                background: #444444;
                border: 1px solid #616161;
                outline: $main-color;
                font-family: $text-family;
                font-size: 12px;
                color: $main-color;
    
                &:focus {
                    border: 1px solid $main-color;
                }
                &::placeholder {
                    font-family: $text-family;
                    font-size : 12px;
                    font-weight: 600;
                    color: #989898;
                    line-height: 18px;
                }
            }
            
            & input {
                width: calc(100% / 2 - 15px);
                margin-bottom: 30px;
            }
            
            & textarea {
                @media (min-width:1024px) {
                    width: calc(100% / 3 - 30px);
                }
                width: 100%;
                margin-bottom: 30px;
            }
            
            &__fields {
                @media (min-width:1024px) {
                    width: calc(100% / 3 * 2);
                }
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        
        &__bottom {
            @media (min-width:768px) {
                flex-direction: row;
            }
            margin-top: 10px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
            
            & p {
                @media (min-width:568px) {
                    margin-bottom: 50px;
                }
                @media (min-width:768px) {
                    margin-bottom: 80px;
                }
                @media (min-width:1199px) {
                    margin-bottom: 0;
                }
                max-width: 390px;
                margin-bottom: 40px;
                font-family: $text-family;
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                color: #989898;
                line-height: 18px;
            }
    
            & button {
                @media (min-width:568px) {
                    margin-bottom: 50px;
                }
                @media (min-width:768px) {
                    margin-bottom: 80px;
                }
                @media (min-width:1199px) {
                    margin-bottom: 0;
                }
                @extend %btn-format;
                width: 190px;
                height: 50px;
                margin-bottom: 40px;
            }
        }
    }
}

footer {
    @media (min-width:1024px) {
        padding-left: 150px;
    }
    
    .footer__wrapper {
        margin-top: 80px;
        margin-bottom: 30px;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid #565656;
        @extend %p-format;
        font-size : 12px;
        color : #989898;
        line-height:18px;
    }
}






/* Old Variant*/

.header {
    max-width          : 1920px;
    background-image   : url(../img/headerBG.jpg);
    height             : 1045px;
    margin             : 0 auto;
    position           : relative;
    background-position: center;
}


.header__nav {
    display        : flex;
    justify-content: space-between;
    padding-top    : 51px;

    & .left__menu {
        display: none;

        & .menu__wrap {
            position  : absolute;
            left      : 0;
            top       : 0;
            background: #333333;
            //height    : -webkit-fill-available;

            & ul {
                margin-top  : 140px;
                margin-left : 39px;
                margin-right: 47px;

                & li:not(:last-of-type) {
                    margin-bottom: 35px;
                }

                & li>a {
                    @extend %text-format;
                    font-size  : 24px;
                    line-height: 33px;
                }
            }

            &__exit {
                height  : 40px;
                width   : 40px;
                color   : #FFFFFF;
                position: absolute;
                right   : 30px;
                top     : 30px;
            }
        }
    }

}

.left__nav {
    display: flex;

    & li:not(:last-child) {
        margin-right: 63px;
    }

    & a {
        @extend %text-format;
        font-size     : 18px;
        line-height   : 25px;
        letter-spacing: 0.1em;

        &:hover {
            border-bottom: 2px solid $main-color;
        }
    }
}

.right__nav {
    @extend %text-format;
    font-size    : 16px;
    line-height  : 22px;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $main-color;
    }
}

.social {
    position       : absolute;
    width          : 150px;
    height         : inherit;
    top            : 0;
    left           : 0;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-end;
    background     : rgba(51, 51, 51, 0.75);
}

.social__line {
    height       : 80px;
    border-left  : 3px solid #C4C4C4;
    margin-bottom: 40px;
}

.social__text {
    transform: rotate(270deg);
    @extend %text-format;
    font-size     : 18px;
    line-height   : 25px;
    letter-spacing: 0.1em;
    color         : #C4C4C4;
    width         : max-content;
    margin-bottom : 148px;
}

.social__links {
    margin-bottom: 86px;
}

.social__link a {
    display: flex;

    &:hover .socicon {
        color     : $main-color;
        transition: all 0.2s;
    }
}

.social__link:not(:last-child) {
    margin-bottom: 30px;
}

.socicon {
    width : 26px;
    height: 26px;
    color : #C4C4C4;
}

.header__main {
    display    : flex;
    align-items: center;
    margin-top : 190px;
}

.header__text {
    max-width: 540px;
}

.header__text h1 {
    @extend %text-format;
    font-size     : 64px;
    line-height   : 51px;
    padding-top   : 17px;
    letter-spacing: 0.1em;
    margin-bottom : 50px;
}

.header__text p {
    @extend %p-format;
    font-size     : 14px;
    line-height   : 20px;
    margin-bottom : 49px;
    letter-spacing: 0.1em;
}

.afisha__button {
    @extend %btn-format;
    padding   : 13px 47px;
    text-align: center;
    display   : inline-block;
}

.header__slider {
    margin-left: 125px;
}

.slider__img {
    display: flex;
}

.slider__buttons {
    margin-top     : 35px;
    display        : flex;
    justify-content: space-between;

    & button {
        font-style      : normal;
        font-weight     : bold;
        font-size       : 17.5px;
        line-height     : 26px;
        letter-spacing  : 0.1em;
        text-transform  : uppercase;
        color           : #C4C4C4;
        background-color: transparent;

        & svg {
            fill: #C4C4C4;
        }

        &:hover {
            color     : #FFFFFF;
            transition: all 0.2s;
        }

        &:hover svg {
            fill      : #FFFFFF;
            transition: all 0.2s;
        }
    }
}

.left__button__text {
    margin-left: 25px;
}

.right__button__text {
    margin-right: 25px;
}

.about h2 {
    margin-top   : 150px;
    margin-bottom: 100px;
    @extend %text-format;
    text-align    : center;
    font-weight   : 300;
    font-size     : 48px;
    line-height   : 65px;
    letter-spacing: 0.1em;

    & span {
        color: $main-color;
    }
}

.about__theater {
    display        : flex;
    justify-content: space-between;

    &__text {
        max-width: 445px;

        & p {
            @extend %p-format;
            font-size  : 14px;
            line-height: 21px;
        }
    }

    &__numbers {

        & svg {
            margin-bottom: 12px;
        }

        & p {
            font-style    : normal;
            font-weight   : bold;
            font-size     : 16px;
            line-height   : 21px;
            letter-spacing: 0.05em;
            color         : #FFFFFF;

            & span {
                color: $main-color;
            }
        }

        & div {
            display       : flex;
            flex-direction: column;

            &:first-of-type {
                margin-bottom: 25px;
            }
        }
    }

    & h4 {
        @extend %text-format;
        font-size     : 21px;
        line-height   : 27px;
        letter-spacing: 0.1em;
        margin-bottom : 35px;
    }

    &__img {
        display: flex;
    }
}








/*.swiper-container {
    height     : 100%;
    margin-left: 150px;
}

.swiper-slide {
    height         : 550px;
    text-align     : center;
    font-size      : 18px;
    background     : #fff;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;

    &:hover span {
        display: none;
    }

    &:hover a {
        display: flex;
    }

    & span {
        position: absolute;
    }

    & a {
        width           : 100px;
        height          : 100px;
        background-color: $main-color;
        border-radius   : 50%;
        display         : none;
        justify-content : center;
        align-items     : center;
    }

    &-tag {
        @extend %text-format;
        font-size  : 24px;
        line-height: 33px;
        top        : 40px;
        left       : 40px;
    }

    &-month {
        text-align: left;
        width     : 131px;
        @extend %text-format;
        font-size     : 18px;
        line-height   : 25px;
        letter-spacing: 0.1em;
        transform     : rotate(-90deg);
        left          : -13px;
        bottom        : 95px;
    }
}

.oskar {
    background-image: url(../img/sliderBG.png), url(../img/slider1.jpg);

    &:hover {
        background-image: url(../img/slider1.jpg);
    }
}

.goldGate {
    background-image: url(../img/sliderBG.png),
        url(../img/slider2.jpg);

    &:hover {
        background-image: url(../img/slider2.jpg);
    }
}

.goldGram {
    background-image: url(../img/sliderBG.png),
        url(../img/slider3.jpg);

    &:hover {
        background-image: url(../img/slider3.jpg);
    }
}

.perfomance {
    background-image: url(../img/sliderBG.png),
        url(../img/slider4.jpg);

    &:hover {
        background-image: url(../img/slider4.jpg);
    }
}*/









/*.rating {
    display            : flex;
    position           : relative;
    margin-top         : 150px;
    height             : 550px;
    background-image   : url(../img/ratingBG1.png), url(../img/ratingBG.png);
    background-position: center;

    &__year {
        position       : absolute;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        left           : 190px;
        top            : 126px;

        & span {
            color         : $main-color;
            font-style    : normal;
            font-weight   : bold;
            font-size     : 72px;
            line-height   : 98px;
            letter-spacing: 0.1em;
        }
    }

    &__stars {
        position : absolute;
        color    : $main-color;
        font-size: 26px;
        top      : 171px;
        left     : 475px;

        & .star__icon {
            margin-right: 25px;
        }
    }

    &__text {
        position : absolute;
        max-width: 540px;
        @extend %p-format;
        font-weight: bold;
        font-size  : 36px;
        line-height: 54px;
        top        : 220px;
        left       : 475px;
    }

}*/

/*.partners {
    margin-top: 150px;
    text-align: center;
    overflow  : hidden;

    & h2 {
        @extend %text-format;
        font-weight   : 300;
        font-size     : 48px;
        line-height   : 65px;
        text-align    : center;
        letter-spacing: 0.1em;

        & span {
            color: $main-color;
        }
    }

    &__row-1 {
        max-width      : 1034px;
        margin         : 100px auto 0;
        display        : flex;
        justify-content: space-between;

        & img:not(:last-of-type) {
            margin-right: 78px;
        }
    }

    &__row-2 {
        max-width      : 1034px;
        margin         : 80px auto 0;
        display        : flex;
        justify-content: space-between;

        & img:not(:last-of-type) {
            margin-right: 78px;
        }
    }
}*/

/*.contacts__header {
    @extend %text-format;
    font-weight   : 300;
    font-size     : 48px;
    line-height   : 65px;
    text-align    : center;
    letter-spacing: 0.1em;
    margin-top    : 120px;
    margin-bottom : 100px;

    & span {
        color: $main-color;
    }
}*/

/*.contacts {
    display        : flex;
    justify-content: space-between;

    &__phone-email {
        display       : flex;
        flex-direction: column;
    }

    &__phone {
        display       : flex;
        flex-direction: column;
        width         : fit-content;

        & a {
            @extend %text-format;
            font-size    : 16px;
            line-height  : 22px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $main-color;
            }
        }

        & a:not(:last-of-type) {
            margin-bottom: 25px;
        }
    }

    &__email {
        display       : flex;
        flex-direction: column;


        & a {
            width     : fit-content;
            margin-top: 25px;
            @extend %text-format;
            font-size    : 16px;
            line-height  : 22px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $main-color;
            }
        }
    }

    &__form {
        max-width: 730px;

        &__top {
            display: flex;

            &-grid {
                display              : grid;
                grid-template-columns: repeat(2, 180px);
                grid-template-rows   : repeat(2, 35px);
                column-gap           : 30px;
                row-gap              : 30px;

                & input {
                    background   : #444444;
                    border       : 1px solid #616161;
                    padding-left : 15px;
                    padding-right: 15px;
                    color        : $main-color;
                    font-family  : $text-family;
                    font-size    : 12px;

                    &::placeholder {
                        font-family: $text-family;
                        font-style : normal;
                        font-weight: 600;
                        font-size  : 12px;
                        line-height: 18px;
                        color      : #989898;
                    }
                }

                & .name {
                    grid-column: 1 / 2;
                    grid-row   : 1 / 2;
                }

                & .company {
                    grid-column: 2 / 3;
                    grid-row   : 1 / 2;
                }

                & .phone {
                    grid-column: 1 / 2;
                    grid-row   : 2 / 3;
                }

                & .email {
                    grid-column: 2 / 3;
                    grid-row   : 2 / 3;
                }
            }

            & textarea {
                width      : 310px;
                margin-left: 30px;
                resize     : none;
                background : #444444;
                border     : 1px solid #616161;
                padding    : 8px 15px;
                color      : $main-color;
                font-family: $text-family;
                font-size  : 12px;

                &::placeholder {
                    font-family: $text-family;
                    font-style : normal;
                    font-weight: 600;
                    font-size  : 12px;
                    line-height: 18px;
                    color      : #989898;
                }
            }
        }

        &__bottom {
            display        : flex;
            justify-content: space-between;
            margin-top     : 40px;

            & p {
                max-width  : 390px;
                font-family: $text-family;
                font-style : normal;
                font-weight: normal;
                font-size  : 12px;
                line-height: 18px;
                color      : #989898;
            }

            & button {
                width : 190px;
                height: 50px;
                @extend %btn-format;
            }
        }
    }
}*/

/*.footer {
    margin-top     : 80px;
    margin-bottom  : 30px;
    padding-top    : 30px;
    border-top     : 1px solid #565656;
    display        : flex;
    justify-content: space-between;
    @extend %p-format;
    font-size  : 12px;
    line-height: 18px;
    color      : #989898;
}*/

@media (max-width: 1410px) {

    .header__nav {
        flex-direction: column;
        align-items   : center;
    }

    .header__main {
        justify-content: center;
    }

    .header__slider {
        margin-left: 0;
    }

    .right__nav {
        margin-top  : 50px;
        margin-right: 80px;
    }

    .about__theater {
        justify-content: space-around;

        &__img {
            display: none;
        }
    }
}

@media (max-width: 1210px) {
    .header__slider {
        display: none;
    }

    .left__nav li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 1060px) {

    .right__nav {
        margin-right: 0;
    }

    .header__main {
        margin-top: 231px;
    }

    .left__nav li:not(:last-of-type) {
        margin-right: 0;
    }

    .left__nav li:not(:first-of-type) {
        margin-left: 30px;
    }

    .left__nav a {
        font-size: 17px;
    }

    .right__nav {
        margin-right: 80px;
    }

    /*.swiper-container {
        margin-right: 111px;
    }*/

    /*.container.rating {
        max-width   : 1100px;
        margin-left : 0;
        margin-right: 0;
    }*/

    /*.contacts {
        flex-direction: column-reverse;
    }

    .contacts__phone-email {
        flex-direction : row;
        margin-top     : 80px;
        justify-content: space-between;
    }

    .contacts__email a:first-of-type {
        margin-top: 0;
    }*/
}

@media (max-width:950px) {
    .left__nav {
        display: none;
    }

    .social {
        display: none;
    }

    .social__links {
        margin   : 89px 80px 0 80px;
        display  : flex;
        flex-wrap: wrap;
        max-width: 140px;
    }

    .social__link:nth-child(2n) {
        margin-left: 50px;
    }

    .social__link:not(:last-child) {
        margin-bottom: 50px;
    }

    .socicon {
        width : 45px;
        height: 45px;
    }

    .header {
        height: 800px;
    }

    .header__nav {
        flex-direction: row;

        .left__menu {
            display: flex;
        }
    }

    .right__nav {
        margin: 0;
    }
    
    .menu__icon {
        width  : 40px;
        height : 40px;
        display: flex;
        color  : #FFFFFF;
    }

    .header__text {
        margin-top: 169px;

        & h1 {
            padding-top: 0;
        }
    }

    /*.projects {
        

        & h2 {
            margin-top   : 90px;
            margin-bottom: 60px;
        }
    }*/

    /*.swiper-container {
        margin: 0 auto;
    }*/

    .about h2 {
        margin-top   : 90px;
        margin-bottom: 60px;
    }

    /*.rating {
        margin: 90px auto;

        &__year {
            left: 100px;
        }

        &__stars {
            left: 280px;
        }

        &__text {
            left: 280px;
        }
    }*/

    /*.footer {
        margin-top   : 60px;
        margin-bottom: 30px;
    }*/
}

@media (max-width:750px) {


    .header__text h1 {
        font-size: 63px;
    }

    /*.projects {
        

        & h2 {
            margin-top: 80px;
        }
    }*/

    /*.rating__year {
        left: 33px;
    }

    .rating__stars {
        left: 213px;
    }

    .rating__text {
        left        : 213px;
        font-size   : 25px;
        margin-right: 33px;
    }*/

    .about__theater {
        flex-direction: column;
        align-items   : center;

        & h4 {
            text-align: center;
        }

        &__numbers {
            margin-top: 30px;
            width     : 510px;

            & .about__numbers {
                display        : flex;
                flex-direction : row;
                justify-content: space-around;
            }
        }

        &__text {
            text-align: center;
        }
    }

    /*.contacts__form__top {
        flex-direction: column;
        align-items   : center;

        & textarea {
            width      : 100%;
            height     : 100px;
            margin-left: 0;
            margin-top : 30px;
        }

        &-grid {
            width                : 100%;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .contacts__form__bottom {
        flex-direction: column-reverse;
        align-items   : center;

        & p {
            margin-top: 30px;
            text-align: center;
        }
    }

    .contacts__phone-email {
        margin-top: 50px;
    }*/
}

@media (max-width:540px) {
    .header__text {
        max-width: 510px;
        margin   : 169px 33px 0;

        & h1 {
            font-size: 55px;
        }
    }

    .header__nav .left__menu {
        margin-left: 33px;
    }

    .right__nav {
        margin-right: 33px;
    }

    .about__theater {
        margin: 0 33px;
    }
}
